.wrapper{
    width: 1240px;
    margin: 0 auto;
}
/* 快捷导航 */
.shotcut{
    height: 52px;
    background-color: #333;
}
.shotcut .wrapper{
    height: 52px;
}
.shotcut .wrapper ul{
    float: right;
}
.shotcut .wrapper ul li{
    float: left;
    line-height: 52px;
}

.shotcut .wrapper ul li a{
    border-right: 1px solid #666;
    padding: 0 16px;

    font-size: 14px;
    color: #dcdcdc;
}
.shotcut .wrapper ul li:last-child a{
    border: none;
}
.shotcut .wrapper ul li a span{
    display: inline-block;
    margin-right: 8px;
    width: 11px;
    height: 16px;
    background-image: url(../images/sprites.png);
    background-position: -160px -70px;
    vertical-align: middle;
}
/* 导航 */
.header{
    margin: 30px auto;
    height: 70px;
}
/* logo */
.header .logo{
    float: left;
    width: 207px;
    height: 70px;
}
.header .logo h1{
    width: 207px;
    height: 70px;
}
.header .logo h1 a{
    display: block;
    width: 207px;
    height: 70px;
    background-image: url(../images/logo.png);
    background-size: contain;
    font-size: 0;
}
/* 导航 */
.header .nav{
    float: left;
    margin-left: 40px;
    
    height: 70px;
}
.header .nav li{
    float: left;
    margin-right: 48px;
    line-height: 70px;
}
.header .nav li a{
    padding-bottom: 7px;
}
.header .nav li a:hover{
    border-bottom: 1px solid #27ba9b;
    color: #27ba9b;
}
/* 搜索 */
.header .search{
    position: relative;
    float: left;
    margin-left: 34px;
    margin-top: 20px;
    width: 172px;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
}
.header .search input{
    padding-left: 30px;
    width: 172px;
    height: 28px;
}
.header .search input::placeholder{
   font-size: 14px;
   color: #ccc;
}
.header .search span{
    position: absolute;
    left: 2px;
    top: 2px;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprites.png);
    background-position: -79px -69px;
}
/* 购物车 */
.header .shopping{
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    width: 24px;
    height: 24px;
    background-image: url(../images/sprites.png);
    background-position: -119px -69px;
}
.header .shopping span{
    position: absolute;
    right: -13px;
    top: -6px;
    width: 20px;
    height: 15px;
    background-color: #e26247;
    border-radius: 13px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 15px;
}
/* 版权 */
.footer{
    height: 342px;
    background-color: #333;
}
.footer .wrapper{
    width: 1393px;
    
}
.footer .top{
    padding-left: 135px;
    padding-top: 60px;
    height: 175px;
    border-bottom: 1px solid #434343;
}
.footer .top li{
    float: left;
    margin-right: 300px;
    
    width: 195px;
    height: 58px;  
    line-height: 52px
}
.footer .top li:last-child{
    margin-right: 0;
}

.footer .top li .logo{
    float: left;
    width: 58px;
    height: 58px;

    background-image: url(../images/sprites.png);
    background-position: 0 0;
}

.footer .top li:nth-child(2) .logo{
    background-position: -65px 0;
}
.footer .top li:nth-child(3) .logo{
    background-position: -130px 0;
}
.footer .top .content{
    margin-left: 10px;
    font-size: 28px;
    color: #fff;
}

.footer .bottom {
    padding-top: 40px;
    
    font-size: 14px;
    color: #999;
    text-align: center;
}
.footer .bottom p{
    margin-bottom: 20px;
}
.footer .bottom p a{
    font-size: 14px;
    color: #999;
}
